.parallax {
    width: 90%;
    transition: 1.5s;
    height: 555px;
    margin: 56px auto 0 auto;
    background-image: url("../../images/main_image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
